<div class="container">
  <header>
    <h1> Catalogue Ciné-Manager</h1>
    <p>Découvrez notre sélection de films</p>
  </header>

  <div class="grille-films">
    @for (f of films; track f.id) {
      <div class="card">
        <div class="card-image">
          <img [src]="f.imageUrl" [alt]="f.titre">
        </div>
        <div class="card-body">
          <span class="badge">Film</span>
          <h3>{{ f.titre }}</h3>
          <p class="realisateur">De : <strong>{{ f.editeur }}</strong></p>
          <p class="description">{{ f.description }}</p>
          
          <div class="card-footer">
            <button class="btn-delete" (click)="supprimer(f.id!)">
                Supprimer
            </button>
          </div>
        </div>
      </div>
    } @empty {
      <div class="no-films">
        <p>Aucun film disponible dans le catalogue.</p>
      </div>
    }
  </div>
</div>